name: My first workflow
on: [push, workflow_dispatch]

jobs:
  my-first-job:
    runs-on: self-hosted
    steps:
      - name: System Information
        run: |
          echo "--- OS Information ---"
          lsb_release -a
          echo "--- CPU Info ---"
          lscpu | grep -E 'Model name|CPU\(s\)|Thread\(s\) per core|Core\(s\) per socket'
          echo "--- RAM Info ---"
          free -h
          echo "--- Disk Space ---"
          df -h | grep '^/dev/'
          echo "--- GPU Info ---"
          lspci | grep -i nvidia || echo "No NVIDIA GPU detected"


      - run: aws --version

      - name: Free Up Disk Space
        run: |
          echo "--- Space Before Cleanup ---"
          df -h /
          # Removing heavy tools you likely don't need for Node.js
          sudo rm -rf /usr/local/lib/android # ~10GB
          sudo rm -rf /usr/share/dotnet      # ~2GB
          echo "--- Space After Cleanup ---"
          df -h /

      
