name: My first workflow
on: [push, workflow_dispatch]
jobs:
  my-first-job:
    runs-on: ubuntu-latest
    steps:
      - name: List all files
        run: ls -a
      - name: Print Working Directory
        run: pwd
      - name: Create JS File
        run: echo 'console.log("Hello World!");' > app.js
      - name: List all files
        run: ls -a
      - name: Run Node.js File
        run: node app.js

  my-second-job:
    runs-on: ubuntu-latest
    needs: my-first-job
    steps:
      - name: check openssl clinet
        run: dpkg -l | grep openssh-client
      - name: check openssl clinet
        run: dpkg -l | grep openssh-server
      - name: check the current ssh status
        run: sudo systemctl status ssh
        
         
