name: My first workflow
on: [push, workflow_dispatch]

jobs:
  my-first-job:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v4

      - name: Create JS File
        run: echo 'console.log("Hello World!");' > app.js

      - name: Run Node.js File
        run: node app.js

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
    

  second-job:
    needs: my-first-job
    runs-on: ubuntu-latest
    timeout-minutes: 1
    
    steps:
      - uses: actions/checkout@v4
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        
      - name: end the tmate
        run: ls -a

        
